*{
    -fx-primaryColor: white;
    -fx-labelColor: #333;
    -fx-subColor:#F8A918;
    -fx-hoverColor: #EAEBED;
    -fx-pressedColor: #6666;
}

.underline{
    -fx-border-color:-fx-labelColor;
    -fx-border-width: 0 0 1 0;
}