


/*
Main-colours:



*/
.page{
    -fx-background-color:white;
   
}
.img{
    -fx-border-color:#cccccc;
   -fx-border-style:solid;
   -fx-border-width: 0 5 0 0;
}
.login-pane{
    -fx-background-color: #cccccc;

   -fx-padding: 20;
   -fx-background-radius:10;
}
.btn{
   
    -fx-border-color:black;
}
.login-btn{
    -fx-background-color: #333333;
    -fx-border-width:3;
    -fx-border-color:#333333;
    -fx-text-fill:white;

}
.login-btn:pressed{
     -fx-background-color: white;
     -fx-border-color:#333333;
     -fx-border-width:3;
     -fx-text-fill:#333333;
     
}
.underline {
    -fx-border-color: skyblue;
   -fx-border-width: 0  0 1.5 0;    
    
}

.banner {
    
     -fx-background-color:FD9C35;
     -fx-background-radius:20;
}
.textfields:focus-within{

    -fx-border-color:#333333;
    
}



.mfx-text-field .floating-text {
    -fx-text-fill:#cccccc;
    
}
.textfields:focus-within .floating-text  {
    -fx-text-fill:#333333;
    
}